*/venv
*/.idea

Sources/__pycache__/

Sources/checkpoints

Sources/checkpoints_cartpole

Sources/checkpoints_mario

Sources/checkpoints_minerl

Sources/rewards.txt

Simple_Games/models_f/

Sources/compass.txt

Sources/logs/
